body {
  background-color: #21354dfd;
}

.main-h1 {
  color: #cfff04;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
  border-radius: 10px;
}
